.container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.todoList {
    background-color: aliceblue;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 15%;

}

label {
    font-size: 20px;
    color: dimgray;
    margin: 10px;
    cursor: pointer;

}

input {
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 80%;
}

.list {
    background-color: yellow;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: none;
    width: 84%;
}

.button3 {
    padding: 10px;
    margin-top: 10px;

}

.button3>button {
    margin: 10px;
    padding: 10px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.left_button {
    background-color: dodgerblue;
    color: white;
}

.active_left_button {
    background-color: rgb(90, 8, 87);
    color: white;
}

.right {
    background-color: rgb(208, 207, 207);
}

.close>button {
    position: absolute;
    top: 25%;
    left: 64%;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


.close>button:hover {
    background-color: rgb(254, 253, 253);
}


/* Media query */

@media (max-width:500px) {
    .todoList {

        width: 100vw;
        margin: 10px;
    }

    .button3 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .close>button {
        position: absolutes;
        left: 0px;
        font-size: 20px;
    }

}


@media (min-width: 500px) and (max-width: 550px) {
    .todoList {
        padding-left: 20px;
        width: 90vw;
        margin: 10px;
    }

    .close>button {
        margin-left: 22%;
        font-size: 20px;
    }
}


@media (min-width: 700px) and (max-width: 1200px) {
    .todoList {

        width: 90vw;
        height: 50vh;
        padding-left: 60px;
        margin: 20px;
    }

    .close>button {
        margin-left: 25%;
        font-size: 40px;
    }
}