.content {
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
}

.content>h2 {
    padding: 6px;
    border-radius: 7px;
    font-size: 17px;
    color: dimgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ////  for todo card only== */

.mainCardContainer {
    margin-top: 30px;
    background-color: rgb(6, 57, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
    width: 40%;
    overflow: scroll;
    height: 60vh;

}

.todoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 8px;
    border-radius: 4px;
    height: 70px;
}


.todoCardname {
    text-align: left;
    padding-left: 30px;
}

.todoCardButton {
    display: flex;
    flex-direction: row;

}

.todoCardButton>button {
    margin: 10px;
    background-color: rgb(242, 240, 240);
    border: none;
    padding: 6px;
    color: black;
    border-radius: 5px;

}

@media (max-width:500px) {
    .content{
        width: auto;
        font-size: 15px;
        margin: 10px;
    }

    .mainCardContainer{
        width: 100vw;
        height: auto;

    }
}






